process {
    // Avoid using containers for processes that need internet access
    withName: 'NFCORE_FETCHNGS:SRA:SRA_IDS_TO_RUNINFO' {
        container = null
    }
    
    withName: 'NFCORE_FETCHNGS:SRA:SRA_FASTQ_FTP' {
        container = null
        memory = '30 GB'
    }
    
    // Add any other network-dependent processes here
    withName: 'NFCORE_FETCHNGS:SRA:SRA_RUNINFO_TO_FTP' {
        container = null
    }
    
    withName: 'NFCORE_FETCHNGS:SRA:SRA_TO_SAMPLESHEET' {
        container = null
    }
}
